.root {
    -fx-background-image: url("../../assets/images/black.png");
    -fx-font-size: 12pt;
}

.image {
    -fx-opacity: 0.5;
}

.label {
    -fx-padding: 5;
}

.button {
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-color: BLUE;
    -fx-opacity: .5;
}