#main-VBox{
    -fx-pref-width: 640px;
    -fx-pref-height: 400px;
}

#main-anchor-pane{
    -fx-pref-width: 640px;
    -fx-pref-height: 413px;
}

.intro-title{
    -fx-pref-height: 164px;
    -fx-pref-width: 359px;
    -fx-text-align: center;
    -fx-wrap-text: true;
}

.intro-buttons{
    -fx-pref-height: 46px;
    -fx-pref-width: 150px;
    -fx-text-align: center;

}